.section {
  margin-top: 40px;
}

.habitat {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.habitat-left .habitat-content {
  order: 1;
  margin-right: 20px; /* Ajouter un espace à droite si nécessaire */
}

.habitat-right .habitat-content {
  order: 2;
  margin-left: 20px; /* Ajouter un espace à gauche si nécessaire */
}

.habitat-content {
  max-width: 50%;
}

.title {
  text-align: center;
}
