{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<style>
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    .services { 
        display: grid; 
        grid-template-columns: repeat(2, 1fr);  
        gap: 20px; 
        } 
    .service { 
        border: 1px solid #ccc; 
        padding: 20px; 
        border-radius: 10px; 
        background-color: #f9f9f9; 
    }
</style>
<h1 class="title">Nos Services</h1> 
<div class="services"> 
{% for service in services %} 
    <div class="service"> 
        <h2>{{ service.nom }}</h2> 
        <p>{{ service.description }}</p> 
    </div> 
{% endfor %} 
</div>

{% endblock %}
