{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Contactez-nous</h1>
<form action="{{ path('app_contact') }}" method="post">
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="message">Message :</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <button type="submit">Envoyer</button>
</form>
{% endblock %}
